html,body
  margin 0 
  padding 0 
i, em, del, address, cite 
  font-style normal
em
  font-size 14px
a
  text-decoration none
  color #8590a6
button, input, optgroup, select, textarea 
    color inherit
    font inherit
    outline none
a, button, input[type="button"], input[type="submit"] 
    cursor pointer
.search input[type='search'], .search input[type='submit'] 
  border none
  padding 5px
  border-radius 3px
ul,li,ol{
  list-style none
}

/* 重写滚动条样式 */
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-input-placeholder {
  color: #bbb;
}