body
  background: #f6f6f6
.fl
  float: left
.fr
  float: right
.clear
  clear: both
.grey
  color: #999
  font-size: 14px
.w70 
  width 70%
.main
  margin 0 auto
.infoCard 
  flex 1
  margin-left 1%
@media (min-width: 1440px) {
  .main {
    width: 1232px;
  }
  .allHeader .wrap{
    width: 1232px;
  }
}

@media (max-width: 1439px) and (min-width: 1024px) {
  .main {
    width: 1024px;
  }
  .allHeader .wrap{
    width: 1024px;
  }
}