body
  background: #f6f6f6
.fl
  float: left
.fr
  float: right
.clear
  clear: both
.grey
  color: #999
  font-size: 14px
.w70 
  width 70%
.main 
  margin 0 auto
  display flex

.infoCard 
  flex 1
  margin-left 1%