body
  background: #f6f6f6
.fl
  float: left
.fr
  float: right
.clear
  clear: both
.grey
  color: #999
  font-size: 14px
.w70 
  width 70%
.main
  margin 0 auto
  margin-top: 67px;
.infoCard 
  flex 1
  margin-left 1%
.underline {
  height: 2px;
  background: #c8c86d;
  width: 0px;
  transition: all 0.5s;
}
@media (min-width: 1440px) {
  .main {
    max-width: 1232px;
  }
  .allHeader .wrap{
    max-width: 1232px;
  }
}

@media (max-width: 1439px) and (min-width: 1024px) {
  .main {
    max-width: 1024px;
  }
  .allHeader .wrap{
    max-width: 1024px;
  }
}

@media (max-width: 767px){
  .infoCard{
    display: none;
  }
  .w70{
    width:100%;
    margin:20px;
    margin-top:0px;
  }
  .headMenu{
    display:none;
  }
  .phone{
    display:block!important;
  }
  .feedback .content{
    width:300px!important;
    margin-left:-150px!important;
  }
}