@import '~antd/dist/antd.css';

body, html {
    margin: 0;
    padding: 0;
    background: #eee;
}

/* 重写滚动条样式 */
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-input-placeholder {
  color: #bbb;
}