@import '~antd/dist/antd.css';

body, html {
    margin: 0;
    padding: 0;
    background: #eee;
}

.fl{
  float:left
}
.fr{
  float:right
}
.clear{
  clear:both
}
.underline{
  height: 2px;
  background: #c8c86d;
  width: 0px;
  transition: all 0.5s;
}

/* 重写滚动条样式 */
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-input-placeholder {
  color: #bbb;
}